@import "../../styles/variables.scss";

.common {
    background: none;
    border: none;

    &:focus {
        outline: none;
    }

    &.orangeGrad {
        background-image: -webkit-linear-gradient(0deg,$orange-some 0%,$redish-orange 100%);
        box-shadow: 0px 2px 8px 0px $theme2;
    }

    &.greenGrad {
        background-image: -webkit-linear-gradient(0deg,#4eff4b 0%,#18d52f 100%);
        box-shadow: 0px 2px 8px 0px $theme2;
    }
}